name: Generate Documentation
on:
    push:
        branches:
            - main
        tags:
            - "*"
    workflow_dispatch:
        inputs:
            tag:
                description: 'Tag to release'
    pull_request:

permissions:
  contents: write

jobs:
    docs:
        name: "Generate and Deploy Documentation"
        uses: GoogleCloudPlatform/php-tools/.github/workflows/doctum.yml@main
        with:
          title: "Google Auth Library PHP Reference Documentation"
          default_version: ${{ inputs.tag || github.head_ref || github.ref_name }}
          dry_run: ${{ github.event_name == 'pull_request' }}

