name: Test Suite
on:
  push:
    branches:
      - master
  pull_request:

jobs:
    test:
        runs-on: ${{matrix.operating-system}}
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "5.6", "7.0", "7.1", "7.2", "7.3", "7.4" ]
        name: PHP ${{matrix.php }} Unit Test
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: nanasess/setup-php@v3.0.4
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpunit
    test_lowest:
        runs-on: ${{matrix.operating-system}}
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "5.6", "7.0", "7.1", "7.2" ]
        name: PHP ${{matrix.php }} Unit Test Prefer Lowest
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: nanasess/setup-php@v3.0.4
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer update --prefer-lowest
            - name: Run Script
              run: vendor/bin/phpunit
    guzzle6:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "5.6", "7.2" ]
        name: PHP ${{ matrix.php }} Unit Test Guzzle 6
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: nanasess/setup-php@v3.0.4
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer require guzzlehttp/guzzle:^6 && composer update
            - name: Run Script
              run: vendor/bin/phpunit
    # use dockerfiles for oooooolllllldddd versions of php, setup-php times out for those.
    test_php55:
        name: "PHP 5.5 Unit Test"
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Run Unit Tests
          uses: docker://php:5.5-cli
          with:
            entrypoint: ./.github/actions/unittest/entrypoint.sh
    test_php55_lowest:
        name: "PHP 5.5 Unit Test Prefer Lowest"
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Run Unit Tests
          uses: docker://php:5.5-cli
          env:
            composerargs: "--prefer-lowest"
          with:
            entrypoint: ./.github/actions/unittest/entrypoint.sh
    test_php54:
        name: "PHP 5.4 Unit Test"
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Run Unit Tests
          uses: docker://php:5.4-cli
          with:
            entrypoint: ./.github/actions/unittest/entrypoint.sh
    test_php54_lowest:
        name: "PHP 5.4 Unit Test Prefer Lowest"
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Run Unit Tests
          uses: docker://php:5.4-cli
          env:
            composerargs: "--prefer-lowest"
          with:
            entrypoint: ./.github/actions/unittest/entrypoint.sh
    style:
        runs-on: ubuntu-latest
        name: PHP Style Check
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: nanasess/setup-php@v3.0.4
              with:
                php-version: "7.4"
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpcs --standard=phpcs-ruleset.xml -p
