name: Test Suite
on:
  push:
    branches:
      - main
  pull_request:

jobs:
    test:
        runs-on: ${{matrix.operating-system}}
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "5.6", "7.0", "7.1", "7.2", "7.3", "7.4", "8.0" ]
        name: PHP ${{matrix.php }} Unit Test
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
            - if: ${{ matrix.php != '8.0' }}
              name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - if: ${{ matrix.php == '8.0' }}
              name: Install Dependencies (PHP 8.0)
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: |
                  composer remove --dev --ignore-platform-reqs phpunit/phpunit
                  composer require --dev --ignore-platform-reqs --update-with-all-dependencies phpunit/phpunit:^7
            - if: ${{ matrix.php == '5.6' || matrix.php == '7.0' || matrix.php == '7.1' }}
              name: Run PHPUnit Patches
              run: sh .github/apply-phpunit-patches.sh
            - name: Run Script
              run: vendor/bin/phpunit
    test_lowest:
        runs-on: ${{matrix.operating-system}}
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "5.6", "7.2" ]
        name: PHP ${{matrix.php }} Unit Test Prefer Lowest
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer update --prefer-lowest
            - if: ${{ matrix.php == '5.6' || matrix.php == '7.0' || matrix.php == '7.1' }}
              name: Run PHPUnit Patches
              run: sh .github/apply-phpunit-patches.sh
            - name: Run Script
              run: vendor/bin/phpunit
    guzzle6:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ "7.2" ]
        name: PHP ${{ matrix.php }} Unit Test Guzzle 6
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer require guzzlehttp/guzzle:^6 && composer update
            - name: Run Script
              run: vendor/bin/phpunit
    style:
        runs-on: ubuntu-latest
        name: PHP Style Check
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: "7.4"
            - name: Install Dependencies
              uses: nick-invision/retry@v1
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: |
                composer require friendsofphp/php-cs-fixer:^3.0
                vendor/bin/php-cs-fixer fix --dry-run --diff
