name: Test Suite
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [ "7.1", "7.2", "7.3", "7.4", "8.0", "8.1", "8.2" ]
        name: PHP ${{matrix.php }} Unit Test
        steps:
            - uses: actions/checkout@v3
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
            - name: Install Dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpunit
    test_lowest:
        runs-on: ubuntu-latest
        name: Test Prefer Lowest
        steps:
            - uses: actions/checkout@v3
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: "7.1"
            - name: Install Dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer update --prefer-lowest
            - name: Run Script
              run: vendor/bin/phpunit
    guzzle6:
        runs-on: ubuntu-latest
        name: Test Guzzle 6
        steps:
            - uses: actions/checkout@v3
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: "7.2"
            - name: Install Dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer require guzzlehttp/guzzle:^6 && composer update
            - name: Run Script
              run: vendor/bin/phpunit

    style:
      runs-on: ubuntu-latest
      name: PHP Style Check
      steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
      - name: Run Script
        run: |
          composer install
          composer global require friendsofphp/php-cs-fixer:^3.0
          ~/.composer/vendor/bin/php-cs-fixer fix --dry-run --diff

    staticanalysis:
      runs-on: ubuntu-latest
      name: PHPStan Static Analysis
      steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
      - name: Run Script
        run: |
          composer install
          composer global require phpstan/phpstan:^1.8
          ~/.composer/vendor/bin/phpstan analyse
